body
{
  font-family: 'Open Sans', sans-serif;
  color:#4c4d53;
  font-size: 18px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 70%, #eaeaea 100%);
  background: -webkit-linear-gradient(top, #ffffff 70%,#eaeaea 100%);
  background: linear-gradient(to bottom, #ffffff 70%,#eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
}

h1
{
  font-family: 'Roboto', sans-serif;  
  font-size: 72px;
  text-align: center;
}

#main-page h1
{
  margin:150px 0 50px 0;
}

#search-results, #info-page
{
  background: #ffffff;
  padding-bottom: 100px;
}

#search-results h1
{
  margin:70px 0 30px 0;
}

#message-page
{
  margin:70px 0 30px 0;
} 

#search-results h5
{
  text-align: left;
  font-size: 19px;
  text-align: center;
  color:#606469;
  font-weight: normal;
}

hr
{
  color:#606469;
  margin:25px 0 35px;
}

label
{
  float: left;
  margin: 0 0 5px 0;
  font-size:23px;
  line-height: 45px;
  font-weight: normal;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#search-form
{
  width: 600px;
  margin:0 auto;
}

#search-form #search-text
{
  width:600px;
  height: 50px;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 17px;
  border: 1px solid #c0c3ce;
  margin-bottom: 30px;
  color:#52565a;
}

#search-form #search-site
{
  width:250px;
  height: 50px;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 17px;
  border: 1px solid #c0c3ce;
  margin-left: 10px;
  color:#377fc7;
}

#search-form input[type="submit"]
{
  background: #3b87d3;
  color:#fff;
  border: 0px;
  height: 50px;
  border-radius: 8px;
  font-size: 17px;
  padding:0px;
  width:120px;
  float:right;
}

#search-form input[type="submit"]:active
{
  background: #377fc7;
}

#search-results .container, #info-page .container
{
  width:550px;
  margin:0 auto;
}

#search-results ul
{
  list-style: none;
  padding-left: 0;
}

#search-results ul li
{
  margin:10px 0;
}

#search-results ul li a
{
  color:#3b87d3;
  font-size:17px;
  line-height: 32px;
}

#search-results ul li p
{
  line-height: 23px;
  margin: 0;
}

#info-page h1
{
  margin:230px 0 0px 0;
}

#info-page h5
{
  text-align: left;
  font-size: 24px;
  text-align: center;
  color:#377fc7;
  font-weight: normal;
  margin-top:35px;
  margin-bottom: 15px;
}

#info-page a
{
  color:#52565a;
  text-align: center;
  width: 100%;
  display: block;
}